In [ ]:
#Theory Questions
'''
Q1] What are data structures, and why are they important?

Ans- Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.
     They define the relationships between data elements and provide methods for performing operations on them.

Q2] Explain the difference between mutable and immutable data types with examples.

Ans- Mutable objects can be modified after creation without changing their identity (i.e., memory address remains the same).
     Examples: Lists, Dictionaries, Sets, User-defined classes.
               mmutable objects cannot be changed after creation. Any modification results in a new object being created in memory.
     Examples: Integers, Floats, Strings, Tuples, Booleans, Frozen sets.

Q3] What are the main differences between lists and tuples in Python?

Ans- The primary difference between lista and tuples are that lists are mutable but tuples are immutable. Secondly, lists are depicted by
     squared brackets[] whereas tuples are depicted by parenthesis() .

Q4] P Describe how dictionaries store data.

Ans- A dictionary (dict) in Python is an unordered, mutable collection that stores data in key-value pairs. It is implemented using a hash table,
     which allows for fast lookups, insertions, and deletions (on average, O(1) time complexity).

Q5] Why might you use a set instead of a list in Python?

Ans- A set and a list both store collections of items, but sets have unique advantages in certain situations.Sets automatically remove duplicates,
     unlike lists.Sets support fast mathematical operations like union, intersection, and difference, making them ideal for data comparison.

Q6] What is a string in Python, and how is it different from a list?

Ans- A string in Python is a sequence of characters enclosed in single ('), double ("), or triple (''' or """) quotes. Strings are immutable,
     meaning they cannot be modified after creation.
         Primary difference between string and list is that strings Are immutable, Lists are mutable.

Q7]  How do tuples ensure data integrity in Python?

Ans- Since tuples cannot be changed, they prevent accidental updates that could lead to bugs or data corruption.This is especially useful
     when working with constants or fixed data.

Q8] What is a hash table, and how does it relate to dictionaries in Python?

Ans- A hash table (or hash map) is a data structure that stores key-value pairs and provides fast lookups, insertions, and deletions. It
     uses a hash function to compute an index (or "hash code") for each key, allowing near constant-time (O(1)) access to values.

Q9] Can lists contain different data types in Python?

Ans- Yes! In Python, lists are heterogeneous, meaning they can store elements of different data types within the same list.

Q10] Explain why strings are immutable in Python.

Ans- Strings in Python are immutable, meaning once a string is created, it cannot be changed. Any modification results in a
     new string being created instead of altering the original one.

Q11] P What advantages do dictionaries offer over lists for certain tasks?

Ans- While lists are useful for ordered collections, dictionaries (key-value pairs) provide significant advantages for certain tasks.
     Dictionaries use hash tables, allowing O(1) average-time complexity for lookups.Dictionaries automatically prevent duplicate keys,
     while lists allow duplicates.

Q12] Describe a scenario where using a tuple would be preferable over a list.

Ans- A tuple is preferable when storing fixed data that should not change, such as GPS coordinates for a location.

Q13] How do sets handle duplicate values in Python?

Ans- When you add duplicate values to a set, Python ignores the duplicates instead of storing them.

Q14] How does the “in” keyword work differently for lists and dictionaries?

Ans- The in keyword is used to check whether an element exists in a collection. However, its behavior differs for lists and dictionaries
     due to differences in their underlying structures.

Q15]  Can you modify the elements of a tuple? Explain why or why not.

Ans- Tuples in Python are immutable, meaning their contents cannot be changed after creation.
     Memory Efficiency – Tuples use less memory compared to lists.
     Data Integrity – Prevents accidental modifications.
     Hashability – Tuples can be used as dictionary keys or set elements.
     Thread Safety – Tuples are safer in multi-threaded programs since they cannot be changed.

Q16] What is a nested dictionary, and give an example of its use case?

Ans- A nested dictionary is a dictionary inside another dictionary. It allows you to store structured data where each key maps to another
     dictionary instead of a single value.Example- Basic Nested Dictionary .

Q17] Describe the time complexity of accessing elements in a dictionary.

Ans- When you access a value using a key, Python hashes the key and retrieves the value in constant time.
     This means that no matter how large the dictionary is, accessing an element on average takes the same amount of time.

Q18] In what situations are lists preferred over dictionaries?

Ans- While dictionaries provide fast lookups (O(1)) using keys, lists are better in situations where:

     i} Order matters
     ii} You need indexed access
     iii} The dataset is small
     iv} You don’t need key-value pairs

Q19] Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans- In Python, dictionaries were historically considered unordered collections because they were implemented using hash tables. This meant that:
     Key-value pairs were stored based on their hash values, not their insertion order.

Q20]  Explain the difference between a list and a dictionary in terms of data retrieval.

Ans- Lists store elements sequentially, meaning retrieval is based on indexing.Whereas dictionaries store key-value pairs and use a hash table,
     allowing fast lookups by key.

'''

In [1]:
#Practical Questions

In [2]:
#Q1] Write a code to create a string with your name and print it.

my_name = "John Wick"
print(my_name)

John Wick

In [3]:
#Q2] Write a code to find the length of the string "Hello World"

text = "Hello World"
print(len(text))

11

In [4]:
#Q3] Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

In [5]:
#Q4] Write a code to convert the string "hello" to uppercase.

text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [6]:
#Q5] Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [7]:
#Q6] Write a code to create a list with numbers 1 to 5 and print it.

numbers= [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
#Q7] Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
#Q8] Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [10]:
#Q9] Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [11]:
#Q10] Write a code to reverse the list [10, 20, 30, 40, 50]

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [12]:
#Q11] Write a code to create a tuple with the elements 100, 200, 300 and print it

numbers=(100,200,300)
print(numbers)

(100, 200, 300)

In [13]:
#Q12] Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [14]:
#Q13] Write a code to find the minimum number in the tuple (10, 20, 5, 15)

numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [15]:
#Q14] Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index("cat")
print(cat_index)

1

In [16]:
#Q15] Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "cherry")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [17]:
#Q16]  Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [18]:
#Q17]  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [19]:
#Q18] Write a code to remove the element 4 from the set {1, 2, 3, 4}.

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [20]:
#Q19] Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [22]:
#Q20] Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [23]:
#Q21] Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [24]:
#Q22] Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
#Q23]  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [26]:
#Q24] Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [27]:
#Q25] Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [28]:
#Q26] Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [29]:
#Q27] Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

random_numbers = random.sample(range(1, 101), 5)

random_numbers.sort()

print(random_numbers)

[2, 30, 63, 83, 96]

In [30]:
#Q28] Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [31]:
#Q29] Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [32]:
#Q30]  Write a code to convert a list of strings into a set.

words_list = ["apple", "banana", "cherry", "apple", "banana"]

words_set = set(words_list)

print(words_set)

{'apple', 'cherry', 'banana'}